@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Comfortaa:wght@700&family=Open+Sans:wght@700&family=Raleway:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Comfortaa:wght@700&family=Open+Sans:wght@700&family=Poppins:wght@500&family=Raleway:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
header {
  background-image: url(../Images/BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1052px;
  padding-top: 65px;
  box-sizing: border-box;
}
/* Nav start */
nav {
  width: 1300px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 157px;
  height: 40px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  /* background-color: aqua; */
}

.burger-icon,
.burger-check,
.burger-close {
  display: none;
}

.nav-info {
  width: 376px;
  display: flex;
  justify-content: space-between;
}

.nav-info span {
  width: 63px;
  height: 22px;
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: #fff;
}

.nav-login {
  width: 282;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-login span {
  display: block;
  width: 136px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  padding-top: 9px;
  box-sizing: border-box;
  color: #fff;
}
.nav-login button {
  width: 132px;
  height: 36px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  line-height: 16px;
  text-align: center;
  color: #bb6df3;
  border-radius: 20px;
  cursor: pointer;
}
